doctype html
html
    include ../includes/_head
    body
        main.recipe-list-container
            header.recipe-header
                div.col.recipe-header-title-container
                    h1.title.recipe-header-title Recipes
                    input.input.recipe-header-input(type=text placeholder="Filter Recipes")
                div.col.recipe-header-sort-btn-container
                    button#recipe-sort-btn(data-sort="cooking-time") Order by cooking time

            if recipes.length
                ul.recipe-list
                    each recipe in recipes
                        li.recipe-list-item
                            a(href=recipe.href alt=recipe.name)
                                img.col(src=recipe.image)
                                h2.col.recipe-title=recipe.name
                                p.col.recipe-time= recipe.cookingTime + ' min'

            else
                if pageCount === 0
                    p.grid-padding Sorry, we currently have no recipes for you
                else
                    p.grid-padding Sorry, we've run out of recipes!

            include ../includes/_paginate

        include ../includes/_foot